@import '../pages/index.scss';

.container--category {
    padding-bottom: 20px;
}

.category__title h1 {
    text-align: center;
    padding-top: 20px;
}

.category--blue {
    color: rgb(60, 86, 201);
}
