@font-face {
    font-family: 'NoteDEV';
    font-style: normal;
    font-weight: 200;
    src: 
        local('UTM-Gradoo'),
        url('../../static/fonts/UltimaPro-Bold.woff') format('woff'),
        url('../../static/fonts/UltimaPro-Bold.woff2') format('woff2'),;
  }