@mixin block-center ($top, $leftRinght, $bot) {
    display: block;
    margin: $top $leftRinght $bot;
}



@mixin text-center() {
    text-align: center;
}

$color-arrow: #007bff;
$color-text: #3c4858;

.container {
    // background: red;
    padding: 20px 20px 0px;
    box-sizing: content-box;
    margin: 100px auto 0;
    max-width: 610px;
    height: auto;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);


    a {
        text-decoration: none;

    }
} 

.d__img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
}

.img__link {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.content {
    position: relative;
    bottom: 26px;

    a {
        color: $color-arrow;
    }
    h2, &__tag {
        text-align: center;
        line-height: 1.2;
    }
    &__text {
        padding: 10px 14px 10px;
        line-height: initial;
        color: #3c4858;
    }
    &__tag {
        display: block;
        margin-top: 6px;
        
        span {
            // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            // border: 1px solid #bdbdbd;
            // border-radius: 4px;
            // background: rgb(226, 224, 224);
            padding: 3px 6px;
            // color: 
            text-decoration: underline;

            
        }

    }
    
    &__footer {
        margin-top: 10px;
        box-sizing: content-box;
        p {
            text-align: center;
            font-weight: 450;
            color: rgb(62, 63, 68);
            span {
                padding: 10px 15px 0;

                svg {
                    padding-right: 4px;
                }
            }
        }
    } 

}