// Support Browser
$vendorPrefixes: (-webkit-, -moz-, -khtml-, -o-, -ms-);

// Font size tag h1 to h6
$ids: 1, 2, 3, 4, 5, 6;
$tag__title--size: '2rem', '1.5rem', '1.17rem', '1rem', '0.83rem', '0.67rem';

@mixin tag-title-size () {
    @for $i from 1 to 6 {
      $id: nth($ids, $i);
      $title--size: nth($tag__title--size, $i);
        h#{$id} {
           font-size: unquote(#{$title--size});
        }
    }
}


* {

}



body {
    @include tag-title-size();
    font-family: Helvetica, Arial, "Times New Roman" !important;
}

@media screen and (max-width: 576px) {
    body {
        background: rgb(255, 216, 216);
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    body {
        background: rgb(188, 188, 255);
    }
}

@media screen and (min-width: 992px) {
    body {
        background: rgb(255, 255, 195);
    }
}

.container {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    
}
.control {
    max-width: 100vw;
    background: red;
    height: 60px;
}

.d-context {
    display: block;
    margin: 10px 0;

    .main {
        height: 100%;
        width: 800px;
        margin: 0 10px 20px 0;
        float: left;
        background: rgb(243, 184, 184);
    }
    
    .sidebar {
        width: calc(100% - 810px);
        width: -moz-calc(100% -810px);
        width: -webkit-calc(100% -810px);
        height: 100%;
        float: left;
        background: rgb(177, 177, 255);
    }
}

// .c-menu {
//     height: 60px;
//     background: red;
// }