@media screen and (max-width: 576px) {
    body {
        background: rgb(255, 216, 216);
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    body {
        background: rgb(188, 188, 255);
    }
}

@media screen and (min-width: 992px) {
    body {
        background: rgb(255, 255, 195);
    }
}

.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;

}

.d-context {
    display: block;
    margin: 10px 0;

    .main {
        height: 100%;
        width: 800px;
        margin-right: 10px;
        float: left;
        background: rgb(243, 184, 184);
    }
    
    .sidebar {
        width: calc(100% - 810px);
        width: -moz-calc(100% -8130px);
        width: -webkit-calc(100% -8130px);
        height: 100%;
        float: left;
        background: rgb(177, 177, 255);
    }
}
