.header {
    overflow: hidden;
    padding: 10px 20px;
    background: rgb(234, 237, 240);
    height: 30px;
    border-radius: 0 0 10px 10px;
    // box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15);
    
}

.d-title {
    display: block;
    float: left;
    // background: seagreen;

    .title {
        color: #2b2929;
        font-size: 1.3rem;
        font-weight: bold;
        font-family: 'NoteDEV';
        text-decoration: none;
        text-align: center;
        line-height: 30px;
        padding: 0 16px;
    }
}

.d-menu {
    display: block;
    // background:  violet;
    float: right;
    position: relative;
    top: -5px;

    .nav-list {
        display: flex;
        flex-direction: row;
        // margin: 0;
        list-style-type: none;
        padding: 5px 0;
        // background: red;

        .nav-item {
            color: #353535;
            font-size: 1rem;
            text-decoration: none;
            font-weight: bold;
            
            &:hover {
                color: #0097c5;
            }
            
            li {
                // background: violet;
                margin: 2px 5px;
                border: 1px solid #666666;
                border-radius: 4px;
                padding: 4px 7px;

                &:hover {
                    // background: rgb(138, 138, 138);
                }
            }
        }
        .active-nav-item {
            color: #1900ff;
        }
    
    }
}
