.container__sidebar {
    margin-left: 2%;
    padding: 10px;
    h3 {
        margin-bottom: 10px;
    }

    
    p, span {
        border: 1px rgb(196, 196, 196) solid;
        border-radius: 4px;
        padding: 4px 6px;
        margin: 4px;
        display: inline-block;
        color: rgb(0, 102, 255);
        box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.05);

        &:hover {
            color:rgb(4, 0, 255);
        }
    }
    
    a {
        text-decoration: none;
        color: rgb(111, 0, 255);
        &:hover {
            color:rgb(234, 0, 255);
        }
    }

    span {

    }
}

.sidebar__categories {

}

.sidebar__tags {
    margin-top: 16px;
}